<head>
  <link rel="stylesheet" href="/stylesheets/application.css">
</head>

<% if session[:error] %>
  <div id="error">
    <p><%= session.delete(:error) %></p>
  </div>

  <script type="text/javascript">
      setTimeout(function() {
          document.getElementById('error').style.display = 'none';
      }, 3000);
  </script>


<% end %>


<form class="new_document" action="/add_new_document" method="post">
  <label for="new_document_name">Add a new document</label>
  <input type="text" name="new_document_name" id="new_document_name" placeholder="new document name">
  <input type="submit" value="Create Document">
</form>
